<div class="container border rounded">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <h5>{{ body.RECHARGE_TITLE }}:</h5>
          </div>
          <div class="col-6">
            <h5>{{ body.RECHARGE_TITLE_DATA }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>{{ body.YEAR }}:</h5>
          </div>
          <div class="col-6">
            <h6>{{ body.YEAR_DATA }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>{{ body.AMMOUNT }}:</h5>
          </div>
          <div class="col-6">
            <h6>{{ body.AMMOUNT_DATA }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>{{ body.CATEGORY }}:</h5>
          </div>
          <div class="col-6 name">
            <a href="#"><h6 class="name">{{ body.FELLOWSHIP }}</h6></a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <h5>{{ body.NAME }}:</h5>
          </div>
          <div class="col-6">
            <h5 class="nameData">{{ body.NAME_DATA }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>{{ body.DESIGNATION }}:</h5>
          </div>
          <div class="col-6">
            <h6>{{ body.DEG_DATA }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>{{ body.EMAIL }}:</h5>
          </div>
          <div class="col-6">
            <h6>{{ body.EMAIL_DATA }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>{{ body.MOBILE_NO }}:</h5>
          </div>
          <div class="col-6">
            <h6>{{ body.MOBILE_DATA }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row border">
      <div class="col-6 margin-right-2">
        <div class="row rounded py-2 mb-2  new m-1">
          <div class="col-10 pt-2">
            <h5 class="nameData">{{ body.AGREEMENT }}</h5>
          </div>
          <div class="col-2"> 
            <i class="far fa-file-pdf fa-2x mb-3"></i>
          </div>
        </div>
        <div class="row rounded pt-1 mb-2  new m-1">
          <div class="col-10 pt-2">
            <h5>{{ body.PROFILE }}</h5>
          </div>
          <div class="col-2"> 
            <i class="far fa-file-pdf fa-2x mb-3"></i>
          </div>
        </div>
        <div class="row rounded pt-1 mb-2  new m-1">
          <div class="col-10 pt-2">
            <h5>{{ body.PROPOSAL }}</h5>
          </div>
          <div class="col-2"> 
            <i class="far fa-file-pdf fa-2x mb-3"></i>
          </div>
        </div>
        <div class="row rounded pt-1 mb-2  new m-1">
          <div class="col-10 pt-2">
            <h5>{{ body.PROFILE_MARKS }}</h5>
          </div>
          <div class="col-2"> 
            <i class="far fa-file-pdf fa-2x mb-3"></i>
          </div>
        </div>
        <div class="row rounded pt-1 mb-2  new m-1">
          <div class="col-10 pt-2">
            <h5>{{ body.PROPOSAL_MARKS }}</h5>
          </div>
          <div class="col-2"> 
            <i class="far fa-file-pdf fa-2x mb-3"></i>
          </div>
        </div>
      </div>
      <div class="col-6 border">
        <div class="row m-1 border">
          <div class="col-12 rounded-top pra">
            <h5>{{ body.PRESENTATION }}</h5>
          </div>
          <div class="row ms-1 me-2 pt-4 pb-4">
            <div class="col-4 rounded-top head text-center">
              <h5>{{ body.DATE }}</h5>
          </div>
          <div class="col-4 rounded-top head  text-center">
            <h5>{{ body.TYPE }}</h5>
          </div>
          <div class="col-4 rounded-top head text-center">
            <h5>{{ body.DOWNLOAD }}</h5>
          </div>
          </div>
        </div>
        <div class="row m-1 p-2 border">
          <div class="col-4 text-center border-bottom">
            03/04/2019
          </div>
          <div class="col-4  border-bottom">
            First Presentation
          </div>
          <div class="col-4 text-center border-bottom">
            <i class="far fa-file-pdf fa-2x mb-2"></i>
          </div>
        </div>
        <div class="row m-1 p-2 border">
          <div class="col-4 text-center border-bottom">
            03/04/2019
          </div>
          <div class="col-4  border-bottom">
            Second Preseation
          </div>
          <div class="col-4 text-center border-bottom">
            <i class="far fa-file-pdf fa-2x mb-2"></i>
          </div>
        </div>
        <div class="row m-1 p-2 border">
          <div class="col-4 text-center border-bottom">
            03/04/2019
          </div>
          <div class="col-4  border-bottom">
            Third Presentation
          </div>
          <div class="col-4 text-center border-bottom">
            <i class="far fa-file-pdf fa-2x mb-2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex pra p-2 m-2">
      <h5>{{ body.GRANT }}</h5>
    </div>
      <div class="row p-2 m-2 head1 border">
        <!-- <div class="row ms-2 me-2 pt-2 pb-2 head1"> -->
        <div class="col-2 rounded-top text-center">
          <h5>{{ body.SL }}</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>{{ body.TITLE }}</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>{{ body.RECEIVED_DATE }}</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>{{ body.AMOUNT }}</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>{{ body.DOWNLOAD }}</h5>
        </div>
      </div>
    <!-- <div class="row p-2 m-2 border">
      <div class="row ms-2 me-2 pt-2 pb-2 head1">
        <div class="col-2 rounded-top text-center">
          <h5>{{ body.SL }}</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>{{ body.TITLE }}</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>{{ body.RECEIVED_DATE }}</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>{{ body.AMOUNT }}</h5>
        </div>
        <div class="col-3 rounded-top head1 text-center">
          <h5>{{ body.DOWNLOAD }}</h5>
        </div>
      </div>
    </div> -->
    <div class="row m-2 ms-2 me-2 pt-2 pb-2 head2 border">
        <div class="col-2 rounded-top text-center">
          <h5>1</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>First Installment</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>02/03/2021</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>30,000.00</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <i class="far fa-file-pdf fa-2x mb-2"></i>
        </div>
    </div>

    <div class="row m-2 ms-2 me-2 pt-2 pb-2 head2 border">
        <div class="col-2 rounded-top text-center">
          <h5>2</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>Second Installment</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>02/03/2021</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>40,000.00</h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <i class="far fa-file-pdf fa-2x mb-2"></i>
        </div>
    </div>
    <div class="row m-2 ms-2 me-2 pt-2 pb-2 pra">
        <div class="col-2 rounded-top text-center">
          <h5></h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5></h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>Sub Total:</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>70,000.00</h5>
        </div>
        <div class="col-3 rounded-top text-center">
        </div>
    </div>
    <div class="row m-2 ms-2 me-2 pt-2 pb-2 grant">
        <div class="col-2 rounded-top text-center">
          <h5></h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5></h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>Total grant amount:</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>2,00,000.00</h5>
        </div>
        <div class="col-3 rounded-top text-center">
        </div>
    </div>
    <div class="row m-2 ms-2 me-2 pt-2 pb-2 receivable">
        <div class="col-2 rounded-top text-center">
          <h5></h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5></h5>
        </div>
        <div class="col-3 rounded-top text-center">
          <h5>Receiveable amount:</h5>
        </div>
        <div class="col-2 rounded-top text-center">
          <h5>1,30,000.00</h5>
        </div>
        <div class="col-3 rounded-top text-center">
        </div>
    </div>

</div>