<!-- <div class="topbar">
    <div class="bars">
        <i class="fas fa-bars"></i>
    </div>
    <div class="search">
          <i class="fas fa-search"></i>

          <div class="lang">
            <button class="btn btn-primary"> {{ header.BANGLA }} </button>
                <i class="fas fa-user-circle fa-3x"></i>
                <div class="name">
                    <h5>{{ header.NAME }}</h5>
                    <p>{{ header.DESIGNATION }}</p>
                    <div class="down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
           </div>
        
    </div>
</div>
<div class="breadcrumbs">
    <h3>{{ header.INFORMATION }}</h3>
    <p>{{ header.HOME}} <i class="fas fa-chevron-right"></i> {{ header.INFORMATION}}</p>
</div> -->

<div class="container mt-3">
    <div class="row">
      <div class="col-5 mt-3">
        <i class="fas fa-bars"></i>
      </div>
      <div class="col-1 mt-3 pl-4">
          <i class="fas fa-search"></i>
       </div>
       <div class="col-1 mt-2">
        <button class="btn margin-right-2"> {{ header.BANGLA }} </button>
       </div>
       <div class="col-1 mt-1">
        <i class="fas fa-user-circle fa-3x"></i>
       </div>
       <div class="col-3 pl-3.6">
           <h5 class="nam">{{ header.NAME }}</h5>
            <p class="mb-4">{{ header.DESIGNATION }}</p>
       </div>
       <div class="col-1 mt-3">
        <i class="fas fa-chevron-down "></i>
       </div>
    </div>
    <div class="row breadcrumbs p-2">
        <div class="col">
            <h3>{{ header.INFORMATION }}</h3>
            <p>{{ header.HOME}} <i class="fas fa-chevron-right"></i> {{ header.INFORMATION}}</p>
        </div>
    </div>
  </div>